.container {
  width: 800px;
  height: 800px;
  background-color: #f2eecb;
  border-radius: 4px;

  padding: 32px;
}
.frame {
  border: 1px solid var(--main-black-color);
  height: 100%;

  display: flex; /*apapun yg di isi didalam frame ini akan jika ditambah itemnya maka item bertambah ke bawah */
  flex-direction: column;
  justify-content: space-between;
}
